<h1>Hello World</h1>

<div class="tables">
  <% all_tables.each do |table| %>
    <h1> <%= table %> </h1>
    <% table.singularize.camelize.constantize.column_names.each do |column| %>
      <p> <%= column %> </p>
    <% end %>
  <% end %>
</div>

<div class="calculator">
  <p>
    Hello!  I'm the calculator.
  </p>
</div>
