<h1>Hello World</h1>

<div class="row">
  <div class="col-md-8">
    <div class="tables">
      <% all_tables.each do |table| %>
        <div class="table-container">
          <h1> <%= table %> </h1>
          <% table.singularize.camelize.constantize.column_names.each do |column| %>
            <p> <%= column %> </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="well well-lg calculator">
      <h3>Calculator</h3>
    </div>
  </div>
</div>
