// begin styling for main content area

// .tables {
// }

// begin styling for calculator

.calculator {

  height: 300px;
  padding-right: 20px;
  margin: 20px;
  background-color: pink;
  border-color: black;
  border-radius: 10px;
}
